
.Pixso-symbol-7_568 {
        
      }
.Pixso-symbol-7_567 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 3px 3px 3px 3px;
background-color: rgba(245, 245, 245, 1);
      }
.stroke-wrapper-7_567 {
        position: relative;
width: 10px;
height: 50px;
display: flex;
      }
.stroke-7_567 {
        position: absolute;
inset: 0px;
border-radius: 3px 3px 3px 3px;
pointer-events: none;
border-width: 0.5px 0.5px 0.5px 0.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 0, 0, 0.8);
      }
.shadow-blend-unknown-0 {
        position: absolute;
inset: 0;
box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.8) inset;
pointer-events: none;
mix-blend-mode: normal;
border-radius: 3px 3px 3px 3px;
      }
.shadow-blend-unknown-1 {
        position: absolute;
inset: 0;
box-shadow: 1.8px 1.8px 1px 0px rgba(0, 0, 0, 0.7) ;
pointer-events: none;
mix-blend-mode: normal;
border-radius: 3px 3px 3px 3px;
      }
.Pixso-paragraph-7_554 {
        font-size: 10px;
font-family: "Retro Gaming-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-symbol-7_566 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(176.129837, 176.129837, 176.129837, 1);
      }
.stroke-wrapper-7_566 {
        position: relative;
width: 10px;
height: 50px;
display: flex;
      }
.stroke-7_566 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 1px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.Pixso-paragraph-7_561 {
        font-size: 10px;
font-family: "Retro Gaming-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.component-7_568 {
        width: fit-content;
height: fit-content;
      }

