
.Pixso-symbol-3_575 {
        
      }
.Pixso-symbol-3_574 {
        width: 20px;
height: 20px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: rgba(250.096146, 250.096146, 250.096146, 1);
      }
.Pixso-symbol-3_573 {
        width: 20px;
height: 20px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: rgba(250.096146, 250.096146, 250.096146, 1);
      }
.Pixso-paragraph-3_568 {
        font-size: 10px;
font-family: "Retro Gaming-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);
width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
      }
.component-3_575 {
        width: fit-content;
height: fit-content;
      }

